<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/dashboard.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/zico/JS/zico.min.js"></script>
    <title> 读者书目状态查询 </title>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #29abff;">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/dz_index/" style="font-family: 楷体; font-weight: bold;font-size: x-large;">图书管理系统</a>
        <span style="font-size: medium; color: #ffffff; margin-top: 0px; font-weight: bold;font-size: large;">欢迎  {{ xm }} (ID: {{ id }})</span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout_view/" style="font-weight: bold;color: #ffffff">退出登录</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/gly_index/">
                                <i class="zi zi_service"></i>
                                <span>管理员首页</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/gly_smztcx/">
                                <i class="zi zi_search"></i>
                                <span>书目状态查询</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/smzt_all/">
                                <i class="zi zi_list"></i>
                                <span>所有书目状态</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/borrowed_books/">
                                <i class="zi zi_list"></i>
                                <span>所有借阅信息</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gly_rk/">
                                <i class="zi zi_signinalt"></i>
                                <span>入库</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gly_ck/">
                                <i class="zi zi_signoutalt"></i>
                                <span>出库</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book_count/">
                                <i class="zi zi_book"></i>
                                <span>书籍被借阅次数统计</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reader_count/">
                                <i class="zi zi_book"></i>
                                <span>读者借书数量统计</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" style="font-family: 华文行楷; font-size: xx-large; color: #42408fe6;">
            <h1 class="h2">书籍详细信息</h1>
        </div>
        <div>
            <h4 style="font-family: 华文行楷; font-size: xx-large;">{{ books_info.first.isbn.sm }}</h4>
            <p>ISBN: {{ books_info.first.isbn.isbn }}</p>
            <p>作者: {{ books_info.first.isbn.zz }}</p>
            <p>出版社: {{ books_info.first.isbn.cbs }}</p>
            <p>出版时间: {{ books_info.first.isbn.cbny }}</p>
            <p>库存数量: {{ books_info.first.isbn.count }}</p>
        </div>
        
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h6 class="h6">评分: {{ average_score }}</h6>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" style="font-family: 华文仿宋; font-weight: bold; font-size: xx-large; color: #42408fe6;">
            <h4 class="h4"  style="font-weight: bold;">馆藏信息</h4>
        </div>
        <table class="table container-fluid">
            <thead class="thead-light">
                <tr class="table-primary">
                    <th>图书id</th>
                    <th>藏书位置</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books_info %}
                <tr>
                    <td>{{ book.tsid }}</td>
                    <td>{{ book.cfwz }}</td>
                    <td>{{ book.zt }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" style="font-family: 华文仿宋; font-weight: bold; font-size: xx-large; color: #42408fe6;">
            <h4 class="h4"  style="font-weight: bold;">本书相关评论</h4>
        </div>
        <table class="table container-fluid">
            <thead class="thead-light">
                <tr class="table-primary">
                    <th>评分</th>
                    <th>评语</th>
                    <th>评书时间</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr>
                    <td>{{ review.score }}</td>
                    <td>{{ review.comment }}</td>
                    <td>{{ review.comment_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    

</body>
</html>
<style>
    body {
        background-image: url("../../static/img/background-i.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
