<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/dashboard.css" rel="stylesheet">
    <title> 读者首页 </title>
    <script src="../../static/zico/JS/zico.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #29abff;">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/dz_index/" style="font-family: 楷体; font-weight: bold;font-size: x-large;">图书管理系统</a>
    <span style="font-size: medium; color: #ffffff; margin-top: 0px; font-weight: bold;font-size: large;">欢迎  {{ xm }} (ID: {{ id }})</span>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout_view/" style="font-weight: bold;color: #ffffff">退出登录</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dz_index/">
                            <i class="zi zi_service"></i>
                            <span>读者首页</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/current_borrows/">
                            <i class="zi zi_list"></i>
                            <span>当前借阅书籍</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dz_smztcx/">
                            <i class="zi zi_search"></i>
                            <span>书目查询与评论</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dz_js/">
                            <i class="zi zi_book"></i>
                            <span>借书</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dz_hs/">
                            <i class="zi zi_book"></i>
                            <span>还书</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my_reviews/">
                            <i class="zi zi_commentalt"></i>
                            <span>评书记录</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ranking/">
                            <i class="zi zi_listSquare"></i>
                            <span>排行榜</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" style="font-family: 华文行楷; font-size: xx-large; color: #42408fe6;">
        <h1 class="h2">读者首页</h1>
    </div>
    <p>当前借阅数量：{{ current_borrow_count }}</p>
    <p>总借阅数量：{{ historical_borrow_count }}</p>
    <p>排名：{{ user_rank }}/{{ total_users }}</p>
    {% if page_obj is not None %}
    <table class="table container-fluid">
        <thead class="thead-light">
        <tr>
            <th> 图书id</th>
            <th> 书名</th>
            <th> 借阅时间</th>
            <th> 应还时间</th>
            <th> 归还时间</th>
        </tr>
        </thead>
        <tbody>
        {% for elem in page_obj %}
            <tr>
                <td> {{ elem.tsid }} </td>
                <td> {{ elem.sm }} </td>
                <td> {{ elem.jysj }} </td>
                <td> {{ elem.yhsj }} </td>
                <td>
                    {% if elem.ghsj is not None %}
                        {{ elem.ghsj }}
                    {% else %}
                        尚未归还
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>注：此表格仅显示在库图书</p>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% else %}
    读者尚未进行过借阅！
{% endif %}
</main>
</body>
</html>
<style>
    body{
        background-image:url("../../static/img/background-i.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }
</style>
