<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/dashboard.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/zico/JS/zico.min.js"></script>
    <script>
        $(function () {
            $('#alert').alert()
        })
    </script>
    <title> 读者借书 </title>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #29abff;">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/dz_index/" style="font-family: 楷体; font-weight: bold;font-size: x-large;">图书管理系统</a>
        <span style="font-size: medium; color: #ffffff; margin-top: 0px; font-weight: bold;font-size: large;">欢迎  {{ xm }} (ID: {{ dzid }})</span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout_view/" style="font-weight: bold;color: #ffffff">退出登录</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/dz_index/">
                                <i class="zi zi_service"></i>
                                <span>读者首页</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/current_borrows/">
                                <i class="zi zi_list"></i>
                                <span>当前借阅书籍</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dz_smztcx/">
                                <i class="zi zi_search"></i>
                                <span>书目查询与评论</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/dz_js/">
                                <i class="zi zi_book"></i>
                                <span>借书</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dz_hs/">
                                <i class="zi zi_book"></i>
                                <span>还书</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/my_reviews/">
                                <i class="zi zi_commentalt"></i>
                                <span>评书记录</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ranking/">
                                <i class="zi zi_listSquare"></i>
                                <span>排行榜</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="font-family: 华文行楷; font-size: xx-large; color: #42408fe6;">
                <h1 class="h2">读者借书</h1>
            </div>
            <form role="form" action="/dz_js/" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="isbn" class="col-md-1 col-form-label"> ISBN号 </label>
                    <div class="col-sm-3">
                        <input name="isbn" type="text" class="form-control" id="isbn" placeholder="" value="{{ isbn }}">
                    </div>
                </div>
                <button class="btn btn-primary">借书</button>
                <br><br>
                {%if msg%}
                <div class="alert alert-primary alert-dismissible fade show" role="alert" style="display: inline-block">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </form>
        </main>

    </div>
</div>
</body>
</html>
<style>
    body{
        background-image:url("../../static/img/background-i.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }
</style>
